<html>
<head>
	<title>Item Catalog </title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script></head>
<body>


	<div class = 'flash'>
			      {% with messages = get_flashed_messages() %}
	      {% if messages %}
	          
	        <ul>
	        {% for message in messages %}
	            <li> <strong> {{ message }} </strong> </li>
	        {% endfor %}
	        </ul>
	        {% endif %}
	    {% endwith %}

	</div>
	{% if category_id %}

	<div class="row padding-top padding-bottom">
		<div class="col-md-5"></div>
		<div class="col-md-6 padding-none">
			<a href="{{url_for('newItem',category_id = category_id)}}">
				<button class="btn btn-default" id="new-item">
					<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>Add Item
				</button>
			</a>
		</div>
		<div class="col-md-1"></div>
	</div>
	{% endif %}



	{% if items %}
	  	{% include "categories.html" %}

  		{% include "items.html" %}

	{% else %}
	  		{% include "categories.html" %}

	<div class="col-sm-1"></div>
	<section id = "items">
						<div class="col-sm-6">TO DO - flash no items</div>
	</section>
	<div class="col-sm-1"></div>


	{% endif %}

	</div>		

</body>

</html>