<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
	<br><br>
      <h1>Catalog App </h1>
      <br>
	<h2> Add New Item </h2> 
	<form action="#" method = "post">
		<h3>Title : </h3> 
		<input type="text" name="name"><br>
		<h3> Description : </h3> 
		<input type="text" name="description"><br>
		<h3> category : </h3> 
		<select name="category">
            {% for c in categories %}
                <option value="{{c.name}}">{{c.name}}</option>
            {% endfor %}
		</select>
		<br><br>
			
		<button type="submit" class="btn btn-primary" value="create">create</button>
		<a href="{{url_for('showCatalogs')}}" class="btn btn-primary" role="button">cancel</a>



	</form>

</body>
</html>