<html>
<head>
	<title>Item Catalog </title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>

	
	<div class="row banner menu">
    <div class="col-md-9 col-md-offset-1 padding-none">
    	<br> <br>
      <h1>Catalog App </h1>
      <br>
    </div>
    <div class="col-md-2 text-centre">
			    	<a href="{{url_for('showLogin')}}" class="btn btn-primary" role="button">Login</a>

			  

	</div>
</div>

	<div class = 'flash'>
			      {% with messages = get_flashed_messages() %}
	      {% if messages %}
	          
	        <ul>
	        {% for message in messages %}
	            <li> <strong> {{ message }} </strong> </li>
	        {% endfor %}
	        </ul>
	        {% endif %}
	    {% endwith %}

	</div>

<div class="col-md-1"></div>
		<h3><div class="col-md-4"> Categories </div></h3>
		<h3><div class="col-md-6 padding-none">{{category_name}} items ( {{items|length}} items ) </div></h3>
		<h3><div class="col-md-1"></div></h3>
	

  		<div class="col-md-1"></div>

	  	<p><h3><div class="col-md-4">{% include "categories.html" %}</div></h3></p>
  		<p><h3><div class="col-md-6 padding-none">{% include "items.html" %}</div></h3></p>
  		<div class="col-md-1"></div>

  		
</div>


</body>

